CREATE DATABASE QUIZ
GO

USE [QUIZ]
GO

/****** Thêm bảng EXAM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAM](
	[EXAM_ID] [nvarchar](100) NOT NULL,
	[_NAME] [nvarchar](100) NULL,
	[_TYPE] [nvarchar](100) NULL,
	[QUANITY] [int] NULL,
	[TIME_TEST] [int] NULL,
 CONSTRAINT [EXAM_EXAM_ID_PK] PRIMARY KEY CLUSTERED 
(
	[EXAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Thêm bảng PERSONAL_INFORMATION ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAL_INFORMATION](
	[ACCOUNT_ID] [nvarchar](100) NOT NULL,
	[ROLE] [nvarchar](20) NOT NULL DEFAULT 'student',
	[FULLNAME] [nvarchar](100) NULL,
	[CLASS] [nvarchar](11) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[_ADDRESS] [nvarchar](100) NULL,
	[DATE_OF_BIRTH] [datetime] NULL,
 CONSTRAINT [PERSONAL_INFORMATION_ACCOUNT_ID_PK] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Thêm bảng QUESTION ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION](
	[EXAM_ID] [nvarchar](100) NOT NULL,
	[CONTENT] [nvarchar](100) NOT NULL,
	[OPTION_A] [nvarchar](100) NULL,
	[OPTION_B] [nvarchar](100) NULL,
	[OPTION_C] [nvarchar](100) NULL,
	[OPTION_D] [nvarchar](100) NULL,
	[CORRECT_ANSWER] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[EXAM_ID] ASC,
	[CONTENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Thêm bảng USER ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ACCOUNT_ID] [nvarchar](100) NOT NULL,
	[ROLE] [nvarchar](20) NOT NULL DEFAULT 'student',
	[USERNAME] [nvarchar](100) NOT NULL,
	[PASS_WORD] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Thêm bảng STUDENT_SCORE ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_SCORE](
	[ACCOUNT_ID] [nvarchar](100) NOT NULL,
	[EXAM_ID] [nvarchar](100) NOT NULL,
	[TOTAL] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC,
	[EXAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Ràng buộc khoá ngoại giữa PERSONAL_INFORMATION và USER ******/
ALTER TABLE [dbo].[PERSONAL_INFORMATION]  WITH CHECK ADD  CONSTRAINT [FK_PERSONAL_INFORMATION_USER] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[USER] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[PERSONAL_INFORMATION] CHECK CONSTRAINT [FK_PERSONAL_INFORMATION_USER]
GO

/****** Ràng buộc khoá ngoại giữa QUESTION và EXAM ******/
ALTER TABLE [dbo].[QUESTION]  WITH CHECK ADD FOREIGN KEY([EXAM_ID])
REFERENCES [dbo].[EXAM] ([EXAM_ID])
GO

/****** Ràng buộc khoá ngoại giữa STUDENT_SCORE và STUDENT ******/
ALTER TABLE [dbo].[STUDENT_SCORE]  WITH CHECK ADD FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[USER] ([ACCOUNT_ID])
GO

/****** Ràng buộc khoá ngoại giữa STUDENT_SCORE và EXAM ******/
ALTER TABLE [dbo].[STUDENT_SCORE]  WITH CHECK ADD FOREIGN KEY([EXAM_ID])
REFERENCES [dbo].[EXAM] ([EXAM_ID])
GO

select * from [USER]
select * from STUDENT_SCORE

select * from EXAM

select * from PERSONAL_INFORMATION

select * from QUESTION



USE QLBongDa
GO
DROP DATABASE QUIZ
GO



